.info-header, .page-overview{
  background-image: url("info/background.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.info-header{
  padding-bottom: 80px;
}

.stats-section__container{
  padding: 120px 0;
}

.company-stats{
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.stats-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 178px;
  max-width: 260px;
}

.stats-overview{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.stats-block img{
  max-width: 48px;
  max-height: 48px;
  margin-bottom: 20px;
  justify-content: center;
}

.stats-block:last-child{
  margin-right: 0px;
}

.stats-block .number{
  font-size: 46px;
  margin-bottom: 8px;
  color: var(--orange);
  font-weight: 700;
}

.ceo-block{
  display: flex;
  min-height: 700px;
}

.ceo-image{
  align-self: flex-end;
  z-index: 1;
}

.ceo-quote{
  position: relative;
  right: 30px;
  z-index: 3;
  background-color: white;
  padding: 85px 105px;
  color: var(--gray900);
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
  max-height: 570px;
  display: flex;
  flex-direction: column;
}

.quote-text > p:first-child{
  max-width: 495px;
  margin-bottom: 25px;
}

.quote-text > p:last-child{
  margin-bottom: 60px;
}

.ceo-signature{
  display: flex;
  justify-content: space-between;
}

.ceo-signature .name{
  font-size: 16px;
}

.ceo-signature .job{
  font-size: 14px;
  color: var(--gray700);
  font-weight: 400;
}

.quote-text::before{
  content: url("info/braces.svg");
  position: relative;
  top: 30px;
  left: -60px;
}