.services-header, .page-overview{
  background-image: url(services-page-images/background.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.services-header{
  padding-bottom: 80px;
}

.services-block{
  background-image: url("services-page-images/service-bg.png");
  background-repeat: none;
}

.services-block__container{
  padding-top: 120px;
}

.service-block{
  display: flex;
  margin-bottom: 120px;
}

.service-block-overview{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-block .block-title{
  font-size: 32px;
}

.service-block .block-description{
  font-size: 16px;
  margin-bottom: 48px;
  line-height: 25.6px;
}

.left-image img{
  margin-right: 80px;
}

.right-image img{
  margin-left: 80px;
}

.service-block:last-child{
  margin-bottom: 180px;
}