* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gray200: #F4F5F6;
  --gray600: #9A9CA5;
  --gray700: #787A80;
  --gray800: #424551;
  --gray900: #1E212C;
  --orange: #FF5A30;
}

body{
  font-size: 14px;
  font-family: "Ubuntu";
}

.container{
  margin: 0 auto;
  max-width: 1230px;
}

.slide-arrow{
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 50%;
}

.arrow-left{
  position: absolute;
  margin-left: 32px;
  left: 0%;
  top: 50%;
}

.arrow-right{
  position: absolute;
  margin-right: 32px;
  right: 0%;
  top: 50%;
}

.main-page{
  color:white;
  background-image: url("images/main-page/bg-images/bg-image.jpg");
  background-repeat: repeat;
}

.overview{
  padding: 200px 0 60px 0;
}

.main-page .title{
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.overview span{
  color: var(--orange);
}

.main-page .description{
  max-width: 595px;
  font-size: 20px;
  line-height: 30px;
}

.pager > .active{
  opacity: 100%;
}

.pager{
  display: flex;
}

.slider-controls{
  padding-bottom: 120px;
}

.page{
  min-width: 180px;
  font-size: 28px;
  font-weight: 700;
  opacity: 60%;
  margin-right: 5px;
  border-bottom: 2px solid white;
}

.page p{
  padding-bottom: 12px;
}

.advertise-page__container{
  margin-top: 120px;
}

.overview-advertise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

/* общий стиль */

.block-title{
  font-size: 46px;
  font-weight: 700;
  color: var(--gray900);
  margin-bottom: 24px;
}

.block-description{
  font-size: 18px;
  color: var(--gray700);
  margin-bottom: 60px;
}

.video-block video{
  width: 1230px;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.video-block{
  margin-bottom: 180px;
}

.core-values{
  display: flex;
  flex-direction: column;
}

.core-values .block-description{
  margin-bottom: 0px;
}

.block-values{
  display: flex;
}

.gradient-border{
  border: 1px solid;
  border-image-source:linear-gradient(360deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%,
  #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
  border-image-slice: 1;
}

.value-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  padding: 0 94px;
}

.value-card:first-child{
  padding-left: 0px;
}

.value-card:last-child{
  padding: 0 0 0 94px;
  border-right: none;
}

.value-card img{
  height: 48px;
  width: 48px;
  margin-bottom: 24px;
}

.block-title-card{
  font-size: 20px;
}

.block-description-card{
  font-size: 16px;
  max-width: 285px;
  text-align: center;
  line-height: 25.6px;
}

.question-form{
  position: relative;
  top: 120px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 243px;
  padding: 48px 60px;
}

.form-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-block-title{
  font-size: 28px;
}

.form{
  display: flex;
}

.fields p{
  color: var(--gray800);
}

.fields-input{
  width: 260px;
  margin: 8px 24px 0 0;
}

.form-input{
  padding: 12px 0 12px 16px;
  background-color: #D7DADD;
  border: 1px solid #F4F5F6;
  border-radius: 4px;
}

.fields-input-message{
  width: 414px;
}

.form .form-button{
  display: flex;
  margin-top: auto;
}

.form-button .active-button{
  min-height: 41px;
  font-size: 14px;
  padding: 0 32px;
  border-radius: 4px;
}

.services__page{
  background-color: #F4F5F6;
  background-image: url("images/service-page/bg-image.png");
}

.overview-services{
  padding-top: 212px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-services{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.block-services .service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 285px;
  min-width: 285px;
  background-color: white;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  margin-right: 30px;
  color: var(--gray900);
}

.service img{
  margin-bottom: 24px;
}

.block-services p{
  font-size: 20px;
  font-weight: 700;
}

.service:last-child{
  margin-right: 0px;
}

.services__page .container{
  padding-bottom: 80px;
}

.services__page .info-block{
  margin: 0px;
}

.info-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 85px 0 125px 0;
  max-height: 50px;
}

.info-block-button{
  max-height: 50px;
}

.info-block .description{
  font-size: 28px;
  font-weight: 700; 
  color: var(--gray900);
  margin-right: 40px;
}

.info-block .active-button{
  display: flex;
  padding: 0 40px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.overview-projects{
  display:flex;
  padding: 100px 0 60px 0;
  justify-content: space-between;
}

.overview-projects .block-title{
  max-width: 705px;
  margin-bottom: 0;
}

.project__arrow{
  opacity: 100%;
}

.projects__arrows{
  display:flex;
  align-items: end;
}

.block-projects{
  display: flex;
}

.shadow{
  box-shadow: 0px 4px 4px -4px #1E212C0D;
  box-shadow: 0px 12px 10px -6px #9A9CA514;
  box-shadow: 0px 30px 24px -10px #9A9CA51A;
  box-shadow: 0px 80px 80px -20px #9A9CA529;
}

.card{
  margin-right: 30px;
}

.project-card{
  display: flex;
  flex-direction: column;
  max-height: 440px;
  max-width: 390px;
  border-radius: 4px;

}

.project-card:last-child{
  margin-right: 0;
}

.project-img{
  border-radius: 4px 4px 0 0;
  max-height: 345px;
  min-width: 390px;
}

.project-card .overview-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card .block-title{
  font-size: 20px;
  margin: 16px 0 10px 0;
}

.project-card .block-description{
  font-size: 14px;
  margin-bottom: 24px;
}

.clients{
  background-color: #F4F5F6;
}

.companies{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 170px;
}

.companies .block-title{
  margin: 80px 0 60px 0;
}

.companies-menu {
  display: flex;
}

.companies-menu li{
  margin-right: 102px;
  list-style: none;
}

.companies-menu li:last-child{
  margin-right: 0;
}

.client-block{
  display: flex;
  justify-content: space-between;
}

.client-review{
  max-width: 600px;
  padding-top: 60px;
}

.client-review .block-title{
  margin-bottom: 60px;
}

.review .client-img{
  margin-bottom: 24px;
}

.review-description{
  font-size: 16px;
  line-height: 25.6px;
  color: var(--gray800);
  margin-bottom: 24px;
}

.review .client-name{
  font-size: 16px;
  color: var(--gray900);
  font-weight: 700;
  margin-bottom: 4px;
}

.review .client-status{
  display: flex;
  color:var(--gray700);
  align-items: center;
  justify-content: space-between;
} 

.client-status__arrows img{
  cursor: pointer;
}

.client-status__left-arrow{
  margin-right: 30px;
}

.client-status__right-arrow{
  margin-right: 7px;
}

.block-image img{
  position: relative;
  top: 60px;
}

.stats-news{
  background-image: url("images/news-page/bg-image.png");
  background-repeat: no-repeat;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 180px 0;
}

.stats .block-title{
  margin-bottom:60px;
}

.stats-block{
  display:flex;
}

.stats-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}

.stats-card:last-child{
  margin-right: 0;
}

.stats-card img{
  margin-bottom: 20px
}

.recent-news{
  display: flex;
  flex-direction: column;
}

.recent-news > .block-title{
  text-align: center;
  margin-bottom: 60px;
}

.news-block{
  display: flex;
}

.main-card{
  max-width: 705px;
}

.card-overview{
  margin: 0 24px;
}

.news-block .block-title{
  font-size: 20px;
  margin: 24px 0 12px 0;
}

.card-status{
  display: flex;
  padding-bottom: 16px;
  color: var(--gray700);
}

.card-status .text{
  border-right: 1px solid var(--gray700);
  padding: 0 12px;
}

.card-status .text:first-child{
  padding-left: 0;
}

.comments{
  display:flex;
  padding-left: 12px;
}

.comments img{
  padding-right: 9px;
}

.main-card .block-description{
  font-size: 16px;
  color: var(--gray800);
}

.extra-card:first-child{
  margin-bottom: 30px;
}

.extra-card .block-title{
  margin: 16px 0 8px 0;
}

.contact{
  background-image: url("images/contact-page/background.jpg");
}

.contact__page__container{
  padding: 80px 0;
}

.contact-form{
  display:flex;
  flex-direction: column;
  justify-content: right;
  max-width: 495px;
  margin-left:auto;
  padding: 48px 40px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
}

.contact-form .block-title{
  font-size: 28px;
  color: var(--gray900);
}

.contact-form .data{
  margin-bottom: 8px;
  color: var(--gray800);
}

.contact-form .form-input{
  max-width: 415px;
  margin-bottom: 20px;
}

.form-input-message{
  padding-bottom: 34px;
}

.agreement{
  display: flex;
}

.agreement input{
  accent-color: #FF5A30;
  margin-right: 12px;
}

.agreement p{
  color: var(--gray800);
}

.contact-form-button{
  margin: 0 auto;
}

.contact-form-button .active-button{
  margin-top: 24px;
  min-height: 44px;
  padding: 0 32px;
}

.footer{
  background-color: var(--gray900);
}

.footer__container{
  padding-top: 80px;
  color: var(--gray700);
}

.upper-block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.media{
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.logos a:first-child{
  margin-right: 60px;
}

.logos a{
  margin-right: 18px;
}

.logos a:last-child{
  margin-right: 0;
}

.logos{
  margin-bottom: 24px;
}

.subscribe-form{
  display:flex;
  flex-direction: column;
  max-width: 495px;
}


.subscribe-form .block-title{
  color:white;
  font-size: 24px;
}

.input-button{
  display: flex;
  margin-bottom: 16px;
}

.subscribe-form .form-input{
  background-color: var(--gray800);
  border: 1px solid #FFFFFF33;
  border-radius: 4px 0 0 4px;
  border-right: none;
  flex-grow: 2;
}

.subscribe-form .form-input:focus{
  outline: none;
}

.subscribe-form .active-button{
  padding: 0 25px;
  border-radius: 0 4px 4px 0;
  font-size: 14px;
  max-height: 41px;
}

.footer .lower-block{
  display: flex;
  margin-bottom: 60px;
}

.lower-block .block {
  display: flex;
  flex-direction: column;
  margin-right: 125px;
}

.info-blocks{
  display: flex;
  font-size: 16px;
}

.info-blocks .title{
  font-weight: 700;
  text-transform: uppercase;
  color:white;
  margin-bottom: 13px;
}

.key-word{
  color: white;
}

.info-blocks li{
  list-style: none;
  margin-bottom: 4px;
}

.last-block{
  display: flex;
  justify-content: space-between;
  color: white;
}

.rights{
  font-size: 12px;
}

.last-block .nav{
  display:flex;
  align-items: center;
}

.nav>label {
  text-transform: uppercase;
  margin-right: 16px;
}

.last-block .active-button{
  padding: 8px;
}