* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gray600: #9A9CA5;
  --gray700: #787A80;
  --gray800: #424551;
  --gray900: #1E212C;
  --orange: #FF5A30;

}

body{
  font-size: 14px;
  font-family: "Ubuntu";
}

.container{
  margin: 0 auto;
  max-width: 1230px;
  padding: 20px 0;
}

.header__container{
  display: flex;
  justify-content: space-between;
}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation ul{
  display: flex;
}

.navigation li{

  list-style-type: none;
  margin-right: 40px;
  font-size: 16px;
}

.navigation li:last-child{
  margin-right: 0px;
}

.navigation a{
  color: var(--gray800);
  text-decoration: none;
  font-weight: 700;
}

.contacts{
  display: flex;
}

.contacts-information{
  padding: 12px;
}

.contacts .title{
  font-weight: 700;
  color: var(--gray800);
}

.contacts .contacts-overview{
  font-size: 18px;
  color: var(--gray900)
}


.dot{
  height: 48px;
  width: 48px;
  background-color: var(--gray700);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-page{
  color:white;
  background-image: url("images/main-page/bg-image.jpg");
  background-repeat: repeat;
  
}

.main-page .title{
  font-size: 72px;
  font-weight: 700;
  padding: 200px 0 20px 0;
  text-transform: uppercase;
}

.overview span{
  color: var(--orange);
}

.main-page .description{
  max-width: 595px;
  font-size: 20px;
  line-height: 30px;
}

.main-page__buttons button{
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 700;
  margin-top: 60px;
  padding: 18px 40px;
  border-radius: 4px;

}

.info-button{
  background: none;
  border: 1px solid white;
  color:white;
  margin-right: 40px;
  text-transform: uppercase;
  cursor: pointer;
}

.active-button{
  font-size: 16px;
  font-family: "Ubuntu";
  background-color: var(--orange);
  color: white;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.pager{
  display: flex;
  margin: 180px 0 60px 0;
}

.page{
  min-width: 180px;
  font-size: 28px;
  font-weight: 700;
  opacity: 60%;
  margin-right: 5px;
}

.page hr{
  border-radius: 2px;
}

.page:first-child{
  opacity: 100%;
}

.advertise-page__container{
  margin-top: 120px;
}

.overview-advertise{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-title{
  font-size: 46px;
  font-weight: 700;
  color: var(--gray900);
  margin-bottom: 24px;
}

.block-description{
  font-size: 18px;
  color: var(--gray700);
  margin-bottom: 60px;
}

.video-block{
  height: 500px;
}

.video-block video{
  width: 1230px;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.core-values{
  margin-top: 180px;
  display: flex;
  flex-direction: column;
}

.block-values{
  display: flex;
}

.value-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  padding: 0 94px;
  border-right: 1px solid lightskyblue;
}

.value-card:first-child{
  padding-left: 0px;
}

.value-card:last-child{
  padding: 0 0 0 94px;
  border-right: none;
}

.value-card img{
  height: 48px;
  width: 48px;
}

.block-title-card{
  font-size: 20px;
  margin-top: 24px;
}

.block-description-card{
  font-size: 16px;
  max-width: 285px;
  text-align: center;
  line-height: 25.6px;
}

.question-form{
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  max-height: 243px;
}

.form-title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-block-title{
  font-size: 28px;
}

.form{
  display: flex;
}

.fields p{
  color: var(--gray800);
}

.fields-input{
  width: 260px;
  margin: 8px 24px 0 0;
}

.form-input{
  padding: 12px 0 12px 16px;
  background-color: #D7DADD;
  border: 1px solid #F4F5F6;
  border-radius: 4px;
}

.fields-input-message{
  width: 414px;
}

.form .form-button{
  display: flex;
  margin-top: auto;
}

.form-button .active-button{
  min-height: 41px;
  font-size: 14px;
  padding: 0 32px;
  border-radius: 4px;
}

.services__page{
  background-color: #F4F5F6;
  background-image: url("images/service-page/bg-image.png");
}

.services__page__container{
  
}

.overview-services{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-services{
  display: flex;
  justify-content: center;
}

.block-services .service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 285px;
  min-width: 285px;
  background-color: white;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  margin-right: 30px;
  color: var(--gray900);
}

.block-services p{
  margin-top: 24px;
  font-size: 20px;
  font-weight: 700;
}

.hover-background{
  background-image: url("images/service-page/image.jpg");
  color: white;
}

.service:last-child{
  margin-right: 0px;
}

.info-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 85px 0;
  max-height: 50px;
}

.info-block-button{
  max-height: 50px;
}

.info-block .description{
  font-size: 28px;
  font-weight: 700; 
  color: var(--gray900);
  margin-right: 40px;
}

.info-block .active-button{
  display: flex;
  padding: 0 40px;
  margin-top: auto;
  justify-content: center;
  align-items: center;
  min-height: 50px;
}

.projects__page__container{
}

.overview-projects .block-title{
  max-width: 705px;
  margin: 100px 0 60px 0;
}

.block-projects{
  display: flex;
}

.card{
  box-shadow: 0px 4px 4px -4px #1E212C0D;
  box-shadow: 0px 12px 10px -6px #9A9CA514;
  box-shadow: 0px 30px 24px -10px #9A9CA51A;
  box-shadow: 0px 80px 80px -20px #9A9CA529;
  margin-right: 30px;
}

.project-card{
  display: flex;
  flex-direction: column;
  max-height: 440px;
  max-width: 390px;
  border-radius: 4px;

}

.project-card:last-child{
  margin-right: 0;
}

.project-img{
  border-radius: 4px 4px 0 0;
  max-height: 345px;
  min-width: 390px;
}

.project-card .overview-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-card .block-title{
  font-size: 20px;
  margin: 16px 0 10px 0;
}

.project-card .block-description{
  font-size: 14px;
  margin-bottom: 24px;
}

.clients{
  background-color: #F4F5F6;
}

.companies{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.companies .block-title{
  margin: 80px 0 60px 0;
}

.companies-menu {
  display: flex;
}

.companies-menu li{
  margin-right: 102px;
  list-style: none;
}

.companies-menu li:last-child{
  margin-right: 0;
}

.client-block{
  display: flex;
  justify-content: space-between;
  margin: 170px 0 60px 0;
}

.client-review{
  max-width: 600px;
}

.review img{
  margin-bottom: 24px;
}

.review-description{
  font-size: 16px;
  line-height: 25.6px;
  color: var(--gray800);
  margin-bottom: 24px;
}

.review .client-name{
  font-size: 16px;
  color: var(--gray900);
  margin-bottom: 4px;
}

.review .client-status{
  color:var(--gray700);
} 

.stats-news{
  background-image: url("images/news-page/bg-image.png");
  background-repeat: no-repeat;
}

.stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats .block-title{
  margin: 120px 0 60px 0;
}

.stats-block{
  display:flex;
  margin-bottom: 180px;
}

.stats-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
}

.stats-card:last-child{
  margin-right: 0;
}

.card-description{
  margin-top: 20px
}

.recent-news{
  display: flex;
  flex-direction: column;
}

.recent-news > .block-title{
  text-align: center;
  margin-bottom: 60px;
}

.news-block{
  display: flex;
}

.main-card{
  max-width: 705px;
}

.card-overview{
  margin: 0 24px;
}

.news-block .block-title{
  font-size: 20px;
  margin: 24px 0 12px 0;
}

.card-status{
  display: flex;
  padding-bottom: 16px;
  color: var(--gray700);
}

.card-status .text{
  border-right: 1px solid var(--gray700);
  padding: 0 12px;
}

.card-status .text:first-child{
  padding-left: 0;
}

.comments{
  display:flex;
  padding-left: 12px;
}

.comments img{
  padding-right: 9px;
}

.main-card .block-description{
  font-size: 16px;
  color: var(--gray800);
}

.extra-card:first-child{
  margin-bottom: 30px;
}

.extra-card .block-title{
  margin: 16px 0 8px 0;
}

.contact{
  background-image: url("images/contact-page/background.jpg");
}

.contact__page__container{
  padding: 80px 0;
}

.contact-form{
  display:flex;
  flex-direction: column;
  justify-content: right;
  max-width: 495px;
  margin-left:auto;
  padding: 48px 40px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
}

.contact-form .block-title{
  font-size: 28px;
  color: var(--gray900);
}

.contact-form .data{
  margin-bottom: 8px;
  color: var(--gray800);
}

.contact-form .form-input{
  max-width: 415px;
  margin-bottom: 20px;
}

.form-input-message{
  padding-bottom: 34px;
}

.agreement{
  display: flex;
}

.agreement input{
  accent-color: #FF5A30;
  margin-right: 12px;
}

.agreement p{
  color: var(--gray800);
}

.contact-form-button{
  margin: 0 auto;
}

.contact-form-button .active-button{
  margin-top: 24px;
  min-height: 44px;
  padding: 0 32px;
}